.main-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
}
.products-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 45px;
  padding: 5px 10px;
}
.cart-container {
  width: 220px;
  padding: 5px 10px;
  background-color: #ffe0b3;
  position: sticky;
  top: 0;
  right: 0;
  height: 100vh;
}
.cart-container h3 {
  margin-top: 0;
  padding-top: 30px;
  padding-bottom: 30px;
}
